.ui.center.aligned.container.tennoten
  p
    |
      <br>
      ご挨拶<br>
      <br>
      『てん』のイメージは視覚的なものから概念的なものまで多岐にわたり、<br>
      その振れ幅は個々の創造力を加えることにより目の前にリアルとして現れ、<br>
      体系的なつながりを意識させます。<br>
      本展は『てん』に繋げられた12人が、個々の表現を通して『てん』を形にした展覧会です。<br>
      <br>
      当初は関西でのギャラリー展示を予定しておりましたが、<br>
      新型コロナウイルスによる昨今の情勢を踏まえ、オンライン開催へ変更とする運びとなりました。<br>
      初の試みとなるオンライン上での展示で拙い部分があるかと思いますが、心を込めて制作しました。<br>
      会期中、いつでも何度でもご覧いただけます。おうちでごゆっくり鑑賞頂ければ幸いです。<br>
      <br>
      点の展出品者一同・特設HP制作者 永田里奈

      