/ 参考　Rails6.1でSwiperライブラリを使いたい - Qiita https://qiita.com/4ma9147/items/177b689b91a172c515d8#swiper%E7%94%A8%E3%81%AE%E6%96%B0%E8%A6%8F%E3%81%AEjavascript%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB%E3%82%92%E4%BD%9C%E6%88%90
script src="https://unpkg.com/swiper/swiper-bundle.js"
script src="https://unpkg.com/swiper/swiper-bundle.min.js"
= javascript_pack_tag "swiper.js"