@import "semantic-ui";

.swiper-container {
  width: 100%;
}

.swiper-slide {
  width: 100%;
  max-height: 500px;
  min-height: 250px;
}
  
.swiper-slide img {
width: 100%;
min-height: 250px;
object-fit: cover;
}

.background {
  background-image: image-url('header-img.png') !important;
  height: 200px;
}

.tennoten {
  font-family: ten-mincho, serif;
  font-weight: 400;
  font-style: normal;
}

.tennoten-white {
  color: rgb(255, 255, 255) !important;
  font-family: ten-mincho, serif;
  font-weight: 400;
  font-style: normal;
}

.footer {
  margin-top: 200px;
}